<x-eidostheme::layout-basic
    title="{{ __('about.aboutContext') }}"
    description="{!! $currentContext->getLocalizedData('description') !!}"
    pageId="about"
>
  <div class="html-text">
    {!! ViewHelper::sanitizeHtml($currentContext->getLocalizedData('about')) !!}
  </div>
</x-eidostheme::layout-basic>