<x-eidostheme::layout-basic
    title="{{ __('about.aboutContext') }}"
    description="{!! $currentContext->getLocalizedData('description') !!}"
>
  <div class="html-text">
    {!! $currentContext->getLocalizedData('about') !!}
  </div>
</x-eidostheme::layout-basic>