<x-eidostheme::layout
    title="{{ $currentContext->getLocalizedName() }}"
    description="{{ $currentContext->getLocalizedData('description') }}"
>
    <article class="page-container page-article">

        @include('components/article-notice-preview')
        @include('components/article-notice-outdated')

        <div class="page-article-main">
            @include('components/article-header')
            @include('components/article-sidebar')
            @include('components/article-highlighted-metadata')
            @include('components/article-tabs')
        </div>

    </article>
</x-eidostheme::layout>