<x-eidostheme::layout
    title="{{ $currentContext->getLocalizedName() }}"
    description="{{ $currentContext->getLocalizedData('description') }}"
>
    <article class="page-container page-article">

        @include('components/article-notice-preview')
        @include('components/article-notice-outdated')
        @include('components/article-header')

        <div class="page-article-main-wrapper">
            <div class="page-article-sidebar">
                @include('components/article-sidebar')
            </div>
            <div class="page-article-main">
                @include('components/article-highlighted-metadata')
                @include('components/article-tabs')
            </div>
        </div>

    </article>
</x-eidostheme::layout>