<x-eidostheme::layout
    title="{{ $currentContext->getLocalizedName() }}"
    description="{{ $currentContext->getLocalizedData('description') }}"
>
    <article class="page-container flex flex-col gap-16">

        <x-article-notice-preview />
        <x-article-notice-outdated />
        <x-article-header />

        <div class="article-main">
            <div class="article-top-metadata">
            </div>
            <x-article-sidebar />
            <div>tabs</div>
        </div>

    </article>
</x-eidostheme::layout>