.article-tabs-menubar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 25rem;
  display: flex;
  flex-direction: column-reverse;
  border-radius: var(--radius);
  background: var(--color-overlay-background);
  color: var(--color-overlay-text);
  box-shadow: var(--overlay-shadow);
  z-index: 9999;
}

.article-tabs-list {
  display: flex;
  align-items: center;
}

.article-tabs-trigger,
.article-tabs-menu-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.125em;
  border-radius: var(--radius);
  color: var(--color-overlay-text);

  &:focus-visible {
    outline: 0.125em solid;
    outline-offset: -0.25em;
    border-radius: calc(1.5 * var(--radius));
    color: var(--color-overlay-text);
  }
}

.article-tabs-trigger[aria-selected="true"]:focus-visible {
  outline-color: var(--color-overlay-background);
  outline-offset: -0.375em;
}

.article-tabs-trigger {
  padding: 0.125em;
}

.article-tabs-menu-trigger {
  padding: 0 0.25em;
  overflow: hidden;
}

.article-tabs-trigger-icon,
.article-tabs-menu-trigger-icon {
  height: 3rem;
  width: 3rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
}

.article-tabs-trigger[aria-selected="true"] .article-tabs-trigger-icon {
  background: var(--color-overlay-text);
  color: var(--color-overlay-background);
}

.article-tabs-menu-trigger-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  padding: 0.125rem;
}

.article-tabs-menu-trigger-label-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.article-tabs-menu-trigger-count,
.article-tabs-trigger-count,
.article-tabs-title-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem 0.375rem;
  font-size: 0.875rem;
  font-weight: 400;
  outline: 1px solid currentColor;
  border-radius: var(--radius);
  flex-shrink: 0;
}

.article-tabs-divider {
  width: 1px;
  height: 1.5rem;
  flex-shrink: 0;
  background: var(--color-overlay-text);
  opacity: 0.15;
}

.article-tabs-trigger-name {
  @apply sr-only;
}

.article-tabs-menu {
  display: none;
  flex-direction: column;

  &[data-open="true"] {
    display: flex;
  }
}

.article-tabs-menu-divider {
  height: 1px;
  background: var(--color-overlay-text);
  opacity: 0.15;
}

.article-tabs-menu-trigger-label {
  font-weight: 500;
}

.article-tabs-title {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 1px solid;
  margin-bottom: 4rem;
  padding-bottom: 0.25rem;
  word-wrap: break-word;
}

.article-tabs-content {
  max-width: 100%;
}

@media (min-width: 380px) {

  .article-tabs-menubar {
    bottom: 1.5rem;
  }

  .article-tabs-trigger-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .article-tabs-menu {
    padding: 0 0.25rem;
  }
}

@media (min-width: 480px) {

  .article-tabs-trigger-icon {
    width: 4rem;
    height: 4rem;
  }

  .article-tabs-menu {
    padding: 0 0.5rem;
  }
}

@media (min-width: 1200px) {

  .article-tabs-menubar {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    max-width: 100%;
    box-shadow: none;
    background: transparent;
    z-index: 0;
  }

  .article-tabs-menu,
  .article-tabs-menu[data-open="true"] {
    display: none;
  }

  .article-tabs-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-bottom: 1px solid var(--color-page-text);
  }

  .article-tabs-trigger-count {
    line-height: 1.5;
  }

  .article-tabs-trigger {
    width: auto;
    padding: 0.25rem 1rem;
    line-height: 2.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0;
    border-top-width: 0.25rem;
    border-color: transparent;
    border-bottom-width: 0.25rem;
    color: var(--color-page-text);

    &[aria-selected="true"] {
      border-bottom-color: var(--color-page-text);

      &:focus-visible {
        outline: none;
      }
    }

    &:focus-visible {
      background: var(--color-page-text);
      color: var(--color-page-background);
      outline: 0.125rem solid var(--color-page-text);
      outline-offset: -1px;
      border-radius: 0;
    }

    &:hover {
      border-bottom-color: var(--color-page-text);
    }
  }

  .article-tabs-trigger-icon,
  .article-tabs-divider,
  .article-tabs-expand {
    display: none;
  }

  .article-tabs-trigger-name {
    @apply not-sr-only;
  }

  .article-tabs-content {
    margin-top: 4rem;
  }

  .article-tabs-title {
    @apply sr-only;
  }
}

@media (min-width: 1536px) {
  .article-tabs-list {
    gap: 1rem;
  }

  .article-tabs-trigger {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}