.article-sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article-sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.article-sidebar-download-button {
  @apply button;
  @apply button-highlight;
  width: 100%;
  font-size: 1.125rem;
}

.article-sidebar-download {

  & .dropdown-content {
    width: var(--reka-popover-trigger-width);
    max-height: var(--reka-popover-content-available-height);
    padding: 0.75rem;
  }
}

.article-sidebar-downloads {

  & .galley-link {
    padding: 0.5rem;
    border-radius: var(--radius);

    &:hover,
    &:focus-visible {
      background: var(--color-overlay-text);
      color: var(--color-overlay-background);
      outline: none;
    }
  }
}

.article-sidebar-cite-button {
  @apply button;
  width: 100%;
}

.article-sidebar-cite {

  & .dropdown-content {
    width: var(--reka-popover-trigger-width);
    max-height: calc(var(--reka-popover-content-available-height) - 6rem);
    overflow: auto;
  }
}

.PkpCiteBody {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  /* Hide the bibliography number produced by some CSL styles */
  & .csl-left-margin {
    display: none;
  }
}

.PkpCiteBody__output a {
  @apply link
}

.PkpCiteBody__styleSelector {
  @apply input-wrapper;
}

.PkpCiteBody__label {
  @apply input-label;
}

.PkpCiteBody__select {
  @apply input;
}

.PkpCiteBody__actions .PkpButton {
  @apply button;
}

@media (min-width: 1200px) {

  .article-sidebar-cite {

    & .dropdown-content {
      max-height: calc(var(--reka-popover-content-available-height) - 1rem);
    }
  }
}