<div class="article-highlighted-metadata">
    <div class="metadata-blocks-table">
        @php $highlightedBlockIds = $activeTheme->getOption('highlightArticleMetadata') @endphp
        @foreach ($metadataBlocks as $block)
            @if (!in_array($block->id, $highlightedBlockIds))
                @continue
            @endif
            <x-dynamic-component
                :component="$block->component"
                headingTag="h2"
                :id="$block->id"
                :title="$block->title"
                :$publication
                :submission="$article"
            />
        @endforeach
    </div>
</div>