<header class="article-header">
    <h1 class="article-title">
        {!! ViewHelper::sanitizeHtml(
            ViewHelper::localize($publicationProps['fullTitle'])
        ) !!}
    </h1>
    @if (count($publicationProps['authors']))
        <h2 class="sr-only">
            {{ __('article.authors') }}
        </h2>
        <ul class="article-authors">
            @foreach ($publicationProps['authors'] as $author)
                <li class="article-author">
                    {{-- preserve this formatting so that there isn't an extra space before the comma --}}
                    {{
                        $author['fullName']
                    }}@if ($author['orcid'])
                        <a class="article-author-orcid" href="{{ $author['orcid'] }}" target="_blank">
                            @if (!empty($author['orcidIsVerified']))
                                {!! $orcidUnauthenticatedIcon!!}
                            @else
                                {!! $orcidIcon !!}
                            @endif
                            <span class="sr-only">
                                {{ $author['orcid'] }}
                            </span>
                        </a>
                    @endif{{
                    ""}}@if (!$loop->last){{
                        __('common.commaListSeparator')
                    }}@endif
                </li>
            @endforeach
        </ul>
        <div class="article-authors-more">
            <x-arrow-link href="?section=article#authors" :truncate="true">
                {{ __('plugins.themes.eidos.viewAuthorDetails') }}
            </x-arrow-link>
        </div>
    @endif
</header>
