@php
    $tabs = [
        [
            'id' => 'article',
            'template' => 'components/article-tab-article',
            'icon' => 'components/icons/menubar-article',
            'name' => __('article.article'),
        ],
    ];

    if ($currentContext->getData('defaultReviewPublicVisibility')) {
        $tabs[] = [
            'id' => 'peer-review',
            'template' => 'components/article-tab-peer-review',
            'icon' => 'components/icons/menubar-peer-review',
            'name' => __('submission.peerReview'),
        ];
    }

    if ($enablePublicComments) {
        $tabs[] = [
            'id' => 'comments',
            'template' => 'components/article-tab-comments',
            'icon' => 'components/icons/menubar-comments',
            'name' => __('manager.userComment.comments'),
        ];
    }

    $tabs[] = [
        'id' => 'metrics',
        'template' => 'components/article-tab-metrics',
        'icon' => 'components/icons/menubar-metrics',
        'name' => __('plugins.themes.eidos.metrics'),
    ];

    $tabs[] = [
        'id' => 'metadata',
        'template' => 'components/article-tab-metadata',
        'icon' => 'components/icons/menubar-metadata',
        'name' => __('submission.informationCenter.metadata'),
    ];

    $config = [
        'name' => 'section',
        'defaultValue' => 'article',
        'scrollTo' => true,
        'activationMode' => 'manual',
    ];
@endphp

<div class="article-tabs-wrapper" data-vue-root>
    <pkp-tab-root
        class="article-tabs"
        v-bind='@json($config)'
    >
        <pkp-tab-list
            class="article-tabs-menubar"
            aria-label="{{ __('submission.publication' ) }}"
        >
            <div class="article-tabs-list">
                @foreach($tabs as $tab)
                    <pkp-tab-trigger class="article-tabs-trigger" value="{{ $tab['id'] }}">
                        <span class="article-tabs-trigger-icon">
                            @includeIf($tab['icon'])
                        </span>
                        <span class="article-tabs-trigger-name">
                            {{ $tab['name'] }}
                        </span>
                    </pkp-tab-trigger>
                @endforeach
                <div class="article-tabs-divider" aria-hidden="true"></div>
                <pkp-tab-trigger class="article-tabs-trigger article-tabs-expand" value="__expand">
                    <span class="sr-only">
                        {{ __('list.expand') }}
                    </span>
                    <span class="article-tabs-trigger-icon">
                        @include('components/icons/menubar-expand')
                    </span>
                </pkp-tab-trigger>
            </div>
            <pkp-tab-menu class="article-tabs-menu">
                @foreach($tabs as $tab)
                    <pkp-tab-trigger class="article-tabs-menu-trigger" value="{{ $tab['id'] }}">
                        <span class="article-tabs-menu-trigger-icon">
                            @includeIf($tab['icon'])
                        </span>
                        <span class="article-tabs-menu-trigger-name">
                            {{ $tab['name'] }}
                        </span>
                    </pkp-tab-trigger>
                @endforeach
                <div class="article-tabs-menu-divider" aria-hidden="true"></div>
            </pkp-tab-menu>
        </pkp-tab-list>
        @foreach($tabs as $tab)
            <pkp-tab-content
                class="article-tabs-content"
                value="{{ $tab['id'] }}"
            >
                <h2 class="article-tabs-title">
                    {{ $tab['name'] }}
                </h2>
                @includeIf($tab['template'])
            </pkp-tab-content>
        @endforeach
    </pkp-tab-root>
</div>