<div class="article-tab-metadata">
    <h2 class="sr-only">Metadata</h2>
    <div class="metadata-blocks-table">
        @foreach ($metadata() as $block)
            <x-dynamic-component
                :component="$block->component"
                headingTag="h3"
                :id="$block->id"
                :title="$block->title"
                :$publication
                :submission="$article"
            />
        @endforeach
    </div>
</div>