<div class="article-tab-comments">
    <h2 class="article-tab-title">
        {{ __('userComment.comments') }}
    </h2>
    {{-- <pkp-comments v-bind='@json($userCommentsInitConfig)'></pkp-comments> --}}
</div>