@php
    $citeConfig = null;
    if ($citation) {
        $citeConfig = [
            'citation' => $citation,
            'citationArgs' => $citationArgs,
            'citationArgsJson' => $citationArgsJson,
            'citationStyles' => $citationStyles,
            'citationDownloads' => $citationDownloads,
            'citationPrimaryStyle' => $citationPrimaryStyle,
            'tSelectedFormat' => __('submission.howToCite.selectedFormat'),
            'tCitationFormats' => __('submission.howToCite.citationFormats'),
            'tCopyToClipboard' => __('submission.howToCite.copyToClipboard'),
            'tCopied' => __('common.copied'),
        ];
    }

    /**
     * Split the publication's galleys into primary and supplementary
     * groups. A galley is primary when it points to a remote URL or
     * its file has a genre that is neither dependent nor supplementary.
     */
    $galleyProps = collect($publicationProps['galleys']);
    $primaryGalleyProps = $galleyProps
        ->filter(fn ($galley) => $galley['urlRemote']
            || ($galley['file'] && !$galley['file']['genreIsDependent'] && !$galley['file']['genreIsSupplementary']))
        ->values();
    $supplementaryGalleyProps = $galleyProps
        ->filter(fn ($galley) => !$galley['urlRemote']
            && $galley['file'] && $galley['file']['genreIsSupplementary'])
        ->values();
@endphp

<div class="article-sidebar">
    <div class="article-sidebar-top">
        @include('components/article-download', [
            'primaryGalleys' => $primaryGalleyProps,
            'jatsDownloadUrl' => $jatsDownloadUrl,
            'supplementaryGalleys' => $supplementaryGalleyProps,
        ])
        @if($citeConfig)
            <x-dropdown
                class="article-sidebar-cite"
                :showClose="true"
                triggerClass="article-sidebar-cite-button"
            >
                <x-slot:trigger>
                    @include('components/icons/cite')
                    {{ __('plugins.themes.eidos.cite') }}
                </x-slot:trigger>
                <pkp-cite-body v-bind='@json($citeConfig)'></pkp-cite-body>
            </x-dropdown>
        @endif
    </div>

    @php
        $blocks = $getBlocks($metadataBlocks, 'sidebarArticleMetadata');
    @endphp
    @if (count($blocks))
        @foreach ($blocks as $block)
            <x-dynamic-component
                :component="$block->component"
                headingTag="h3"
                :id="$block->id"
                :title="$block->title"
                :$publication
                :submission="$article"
            />
        @endforeach
    @endif
</div>
